<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Create two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a warning or success message in the Components</li>
        <li>Style the Components appropriately (maybe some red/ green text?)</li>
      </ol>
      <p>Use external or internal templates and styles!</p>
      <p>Feel free to create more components, nest them into each other or play around with different types of
        selectors!</p>
    </div>
  </div>
</div>

<warning-alert></warning-alert>
<success-alert></success-alert>
<div>
  <cbutton (clickedEmitter)="clickedListener($event)" [bcolor]="'red'" [btext]="'Submit'"></cbutton>
  <cbutton (clickedEmitter)="clickedListener($event)" [bcolor]="'gray'" [btext]="'Reset'"></cbutton>
  <cbutton (clickedEmitter)="clickedListener($event)" [bcolor]="'blue'" [btext]="'Back'"></cbutton>
</div>

<table *ngIf="deviceList && deviceList.length!=0;else emptydeviceList">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Color</th>
    <th>Capacity</th>
  </thead>
  <span>hey</span>
  <tbody>
    <tr *ngFor="let device of deviceList">
      <td>{{device.id}}</td>
      <td>{{device.name}}</td>
      <td>{{device.data?.color??'-'}}</td>
      <td>{{device.data?.capacity??'-'}}</td>
    </tr>
  </tbody>
</table>

<ng-template #emptydeviceList>
  No device to display.
</ng-template>

<!-- <ng-container *ngFor="let device of deviceList">
  <div>{{device.name}}</div>
</ng-container> -->
<!-- <div *ngFor="let device of deviceList">
  <div>{{device.name}}</div>
</div> -->